<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Danny Benish{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <canvas class="graphic"></canvas>
    <script src="/static/webgl-util.js"></script>
    <script src="/static/graphic.js"></script>
    <div class="container">
        <header class="top-accent"></header>
        <header>
            <div style="display: flex; justify-content: space-between; padding: 0 20px; ">
                <div class="logo-list">
                    <div class="logo">danny benish</div>
                    <div class="sublogo">i write code please hire me</div>
                </div>
                <nav>
                    <ul style="display: flex; list-style: none;">
                        <li><a href="/">about</a></li>
                        <li><a href="/projects/">projects</a></li>
                        <li><a href="/blog/">blog</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <!-- The specific content of each page will go here -->
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="footer-links">
                <p>Contact Me: </p>
                <a href="mailto:dannybb554@gmail.com">Email</a>
                <a href="https://github.com/dannyb33" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a href="https://www.linkedin.com/in/daniel-benish/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </div>
        </footer>
    </div>
</body>
</html>
